<h1>Listing assets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.name %></td>
        <td><%= asset.description %></td>
        <td><%= asset.location.name %></td>
        <td><%= link_to 'Edit', edit_asset_path(asset), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset', new_asset_path, class: "btn btn-default" %>
